/* stylesheet.css */
@font-face {
  font-family: 'Rubik';
  src: url('./assets/Rubik-Bold.ttf') format('truetype');
  src: url('./assets/Rubik-Medium.ttf') format('truetype');
  src: url('./assets/Rubik-Regular.ttf') format('truetype');
}

body {

  margin: 0;
  font-family: 'Rubik'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
